.footer {
    width: 100%;
    background-color: #2C2C2C;
}

.footer-main {
    width: 98%;
    color: #C7C7C7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.footer-image {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.footer-logo {
    width: 150px;
    margin-bottom: 40px;
}

.footer-image p {
    color: #C7C7C7;
    margin-bottom: 20px;
}

.footer-icon {
    display: flex;
    gap: 10px;
}

.footer-icon .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.footer-icon .fa-brands:hover {
    color: white;
    background-color: #28AE60;
}

.footer-list {
    width: 180px;
}

.footer-sub-list {
    list-style: none;
    padding-left: 0px;
}

.footer-sub-list li {
    padding: 15px 0px;
    cursor: pointer;
    transition: all .4s;
}

.footer-sub-list li:hover {
    color: #28a745;
}

.footer-main h3 {
    color: white;
    font-size: 25px;
}

.footer-address {
    width: 240px;
}

.copyright {
    width: 100%;
    color: white;
    background-color: #1F1F1F;
    padding: 30px 0;
    text-align: center;
}

.copyright i {
    color: #28AE60;
}