body {
    margin: 0px;
}

.service-area {
    width: 100%;
    margin: 80px 0px;
}

.service-heading {
    font-size: 36px;
    text-align: center;
}

.service-main-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card {
    width: 350px;
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
}

.service-sub-card {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#service-card3 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1gYmOiZk9SyCvkji8MbLPMbXw65j9jJn1CYkUf4huLl8pp3TD);
}

#service-card2 {
    background-image: url(https://rafusoft.com/public/assets/img/2.png);
}

#service-card1 {
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRv6FC5kZbmREDP-_HQTxwAtuy392LZ1ktrQqTDvcuXwH3HwUs2);
}

.service-hover {
    width: 100%;
    height: 0px;
    color: #fff;
    background-color: #28a745;
    position: absolute;
    top: 300px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    opacity: 0;
}

.service-hover-content {
    width: 60%;
}

.service-card:hover .service-hover {
    height: 100%;
    width: 100%;
    top: 0px;
    opacity: 1;
}

.service-image-main {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 18px;
    color: #727272;
}

.service-image {
    width: 48%;
}

.service-image h3 {
    font-size: 36px;
    color: black;
}

.service-image button {
    padding: 15px 45px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.service-text {
    width: 100%;
    background-color: #F5FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.service-sub-text {
    width: 32%;
    font-size: 18px;
    text-align: center;
    color: #727272;
}

.service-sub-text h3 {
    font-size: 50px;
    margin-bottom: 0px;
    color: black;
}

.home-gallery {
    width: 100%;
    color: #727272;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-gallery-text {
    width: 400px;
    text-align: center;
    font-size: 16px;
}

.home-gallery-text h3 {
    font-size: 36px;
    color: #2C2C2C;
}

.home-image-gallery {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin: 40px 0px;
}

.gallery-image {
    width: 350px;
    height: 400px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#gallery-image1 {
    background-image: url(https://preview.colorlib.com/theme/busicol/img/gallery/1.png);
}

#gallery-image2 {
    background-image: url(https://preview.colorlib.com/theme/busicol/img/gallery/2.png);
}

#gallery-image3 {
    background-image: url(https://preview.colorlib.com/theme/busicol/img/gallery/3.png);
}

#gallery-image4 {
    width: 730px;
    background-image: url(https://preview.colorlib.com/theme/busicol/img/gallery/details_img_1.png);
}

#gallery-image5 {
    background-image: url(https://preview.colorlib.com/theme/busicol/img/gallery/5.png);
}

.gallery-image-hover {
    /* width: 100%; */
    height: 100%;
    position: absolute;
    left: -180px;
    background: rgba(30, 171, 89, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* opacity: 0; */
    transition: all .6s;
}

.gallery-image:hover .gallery-image-hover {
    /* opacity: 1; */
    overflow: visible;
    left: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.home-gallery button {
    padding: 15px 30px;
    border: #28a745 solid 1px;
    border-radius: 5px;
    background-color: #fff;
    color: #28a745;
    font-size: 16px;
    transition: all .5s;
}

.home-gallery button:hover {
    color: #F5FBFF;
    background-color: #28a745;
    cursor: pointer;
}

.service-bg-image {
    width: 100%;
    margin: 80px 0;
}

.bg-image-main {
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/busicol/img/banner/about_bg.png);
    background-size: cover;
    padding: 140px 0px;
    background-color: rgba(18, 18, 18, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.bg-image-card {
    width: 29%;
    border: #F5FBFF solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5FBFF;
    position: relative;
    z-index: 0;
    padding: 50px 0px;
}

.bg-image-card h3 {
    font-size: 20px;
    margin: 20px;
}

.bg-image-card::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #28a745;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all .5s;
}

.bg-image-card:hover::after {
    opacity: 1;
    color: #fff;
}

.financial {
    width: 100%;
    margin: 100px 0px;
}

.financial-solution-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.financail-text {
    width: 45%;
    font-size: 20px;
    position: relative;
}

#financail-text1 {
    padding-bottom: 200px;
}

.financail-text h3 {
    font-size: 40px;
    color: #2C2C2C;
    margin: 0px 0px 20px;
}

.epmty-div {
    width: 40px;
    height: 40px;
    border: #a1dbae solid 1px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #28a745;
    transition: all .5s;
    position: absolute;
}

.epmty-div:hover {
    background-color: #28a745;
    color: #F5FBFF;
    cursor: pointer;
    border: none;
}

#empty-div2 {
    left: 50px;
}

.owner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.owner-main {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 30px;
    margin: 0px;
}

.owner-image {
    width: 70px;
    height: 70px;
    background-image: url(https://preview.colorlib.com/theme/busicol/img/testmonial/1.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(233, 232, 232, .9);
    border-radius: 50%;
}

#owner-image1 {
    width: 90px;
    height: 90px;
}

.owner-text {
    width: 70%;
    text-align: center;
    color: #727272;
}

.owner-text p {
    font-size: 20px;
    text-decoration: underline;
    margin: 0px 0px 20px;
}

.owner-text h4 {
    margin: 0px 0px 10px;
    color: #2C2C2C;
}

.project-area {
    width: 100%;
    background-color: #28AE60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5FBFF;
    text-align: center;
    padding: 150px 0px;
    margin: 100px 0px 0px;
}

.project-area h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-area p {
    font-size: 20px;
    margin: 8px 0px 20px;
}

.project-area-text {
    width: 40%;
}

.project-area button {
    padding: 15px 40px;
    background-color: #28AE60;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.project-area button:hover {
    background-color: white;
    color: #28AE60;
}


@media screen and (max-width:1200px) {
    .service-card {
        width: 300px;
    }

    .gallery-image {
        width: 450px;
        height: 510px;
    }

    #gallery-image4 {
        height: 250px;
        width: 450px;
    }
}

@media screen and (max-width:992px) {
    .service-card {
        width: 200px;
    }

    .service-image {
        width: 100% !important;
    }

    .gallery-image {
        width: 330px;
        height: 375px;
    }

    #gallery-image4 {
        height: 180px;
        width: 330px;
    }

    .bg-image-card {
        width: 350px;
        height: 200px;
    }

    .financail-text {
        width: 70%;
        padding: 0px;
    }

    .epmty-div {
        display: none;
    }

    #financail-text1 {
        padding-bottom: 60px;
    }

    .project-area-text {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .service-card {
        width: 250px;
        flex-grow: 1;
        margin: 0px 90px;
    }

    .service-sub-text {
        width: 100%;
        margin: 0px;
    }

    .service-sub-text h3 {
        margin: 0px;
    }

    .gallery-image {
        width: 510px;
        height: 578px;
    }

    #gallery-image4 {
        height: 278px;
        width: 510px;
    }

    .bg-image-card {
        width: 500px;
        height: 200px;
    }

    .project-area-text {
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .service-card {
        flex-grow: 1;
        margin: 0px 10px;
    }

    .service-image {
        width: 100% !important;
    }

    .gallery-image {
        width: 455px;
        height: 515px;
    }

    #gallery-image4 {
        height: 248px;
        width: 455px;
    }

    .bg-image-card {
        width: 400px;
        height: 200px;
    }

    .financail-text {
        width: 98%;
        padding: 0px;
    }

    #owner-image1 {
        width: 80px;
        height: 50px;
    }

    .owner-image {
        width: 50px;
        height: 30px;
    }

    .project-area-text {
        width: 100%;
    }
}