body {
    margin: 0px;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #727272;
    margin: 100px 0;
}

.detail-text {
    width: 44%;
    font-size: 18px;
    text-align: center;
}

.detail-text h2 {
    color: black;
    font-size: 40px;
    margin: 16px 0px 26px;
}

.detail-image {
    width: 90%;
}

.detail-text h4 {
    color: black;
    font-size: 24px;
}

.detail-text button {
    padding: 15px 35px;
    background-color: #fff;
    color: #28AE60;
    border: #28AE60 solid 1px;
    border-radius: 5px;
    margin: 30px 0;
    transition: all .4s;
}

.detail-text button:hover {
    background-color: #28AE60;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .detail-text {
        width: 50%;
    }
}

@media screen and (max-width:992px) {
    .detail-text {
        width: 64%;
    }
}

@media screen and (max-width:768px) {
    .detail-text h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:576px) {
    .detail-text {
        width: 84%;
    }
}